# /etc/systemd/system/blogapi.service

[Unit]
Description=uWSGI instance to serve flask app blog-api
After=network.target

[Service]
User=ubuntu # 로그인 사용자
Group=www-data
WorkingDirectory=/home/ubuntu/www/blogapi # 실행 디렉토리
Environment="PATH=/home/ubuntu/www/blogapi/venv/bin" # 환경 변수
ExecStart=/home/ubuntu/www/blogapi/venv/bin/uwsgi --ini blogapi.ini # 실행 명령어

[Install]
WantedBy=multi-user.target # 자동 실행